body {
  background-color: #99A98F;
}

hr {
  border-style: none;
  width: 100%;
  border-top: 5px dotted;
  border-top-color: #D6E8DB;
}

h1 {
  color: #C1D0B5;
}
h3 {
  color: #C1D0B5;
}
th {
  color: #C1D0B5;
}
p {
  text-align: center;
}
img {
  background-color: #99A98F;
}
.titlu {
  margin: 40px auto;
  margin-left: 30%
}
.carti {
  margin-left: 45%;
}
.evenimente {margin-left: 45%}
.skill {margin-left: 45%}
